<!--login page view -->

<div class="form-group">
	<h1>Log In</h1><br>
<%= form_for :user, url: "/login" do |f| %>
	<%= f.text_field :email, placeholder: "Email"  %><br><br>
	<%= f.password_field :password, placeholder: "Password"%><br><br>
	<%= f.submit "Login", :class => "btn btn-info" %>
<% end %>
</div>