<!-- modal for listing -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="modal-title legend" id="myModalLabel">Tell Us About Your Place</p>
      </div>
      <div class="modal-body">
        <%= render 'listings/form' %>
      </div>
    </div>
  </div>
</div>