<!-- modal for sign up -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <legend class="modal-title join-legend" id="myModalLabel">Join Us</legend>
        <!-- <legend class="legend">Login</legend> -->
      </div>
      <div class="modal-body">
        <%= render 'users/form' %>
      </div>
    </div>
  </div>
</div>