/// styling for listing page ///
.listings {
	background-color: white;
	padding-top: 25px;
	width: 30%;
	font-size: 15px;
	height: 600px;

}

.ovaflowing {
	height: 590px;
	overflow-y: scroll;
}

.listing-each {
	background-color: #f2f2f2;
	border-radius: 4px;

}

.listing-each:hover {
	background-color: #f8f8f8;

}

.listed-by {
	color: tomato;
	text-align: center;
	margin-top: 60px;
	font-size: 15px;
	// border: 3px solid grey;
	border-radius: 3px;
}


.maps {
	margin: 30px 10px 20px 10px;
}
.lister {
	text-align: center;
	margin-top: -10px;

}

.backbutton {
	z-index: 99;
	margin-top: -60px;
}

.galleria-image {
	overflow: hidden;
  	position: relative;
  	visibility: visible;
  	width: 40px;
  	height: 40px;

}

.galleria-layer {
	width: 300px;
	height: 300px;

}

.galleria-theme-classic {
	width: 600px;
  	height: 500px !important;
}

.galleria-container {
	margin-top: 16px;
	border-radius: 7px;
	border: 6px solid grey;
}

