//// listing modal styling ////
#myModalLabel {
	text-align: center;
	color: white;
	font-size: 30px;
}
.form-group-listing{
  color: #34495e;
  text-align: center;
  font-size: 12px;

}
#listing_photo {
	margin-left: 200px;
}
#listing_available_date {
	border: none;
}


