.info {
	color: white;
	text-align: center;
	font-size: 40px;
	background-color: #bdc3c7;
	height: 400px;
	border-right: 2px dotted grey;
	font-family: helvetica;
}

.modal-title {
	font-size: 40px;
	color: tomato;
}


.greeting {
	color: black;
	margin-top: 30px;
	padding-left: 40px;
	font-size: 14px;
}

.page-title {
	color: tomato;
	font-size: 30px;
}


.form-group{
  color: #34495e;
  text-align: left;
  padding-top: 40px;
  padding-left: 60px;


}